@import "bootstrap/scss/bootstrap";

.App {
	.SearchPanel {
		width: 40%;
		height: 100vh;
		padding: 10px;
		float: left;
	}
	.ResultPanel {
		width: 60%;
		height: 100vh;
		padding: 10px;
		float: left;
	}

	.rwd-span::before {
		content: attr(data-text-large);
	}

	@media (max-width: 1200px) {
		.SearchPanel {
			width: 100%;
			height: auto;
		}
		.ResultPanel {
			width: 100%;
			height: auto;
		}

		.rwd-span::before {
			content: attr(data-text-small);
		}
	}
}
